.header {
  transition: all 500ms ease-in-out;
  width: 85%;
  margin-inline: auto;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 9999999;
  background-color: white;
}
@media screen and (max-width: 1150px) {
  .header {
    width: 95%;
  }
}

.logo {
  font-weight: var(--fw-700);
  font-size: var(--fs-700);
  color: var(--fc-heading);
  margin: 0;
  transition: all 300ms ease-in-out;
}

.nav {
  display: flex;
  align-items: baseline;
  padding-bottom: 70px;

  justify-content: space-between;
  height: 40px;
  min-width: 100%;
  border-bottom: 1px solid var(--clr-nuetral-400);
  overflow: hidden;
}
.nav__links {
  align-items: center;
  display: flex;
  gap: 25px;
}

.nav__doggleLinks li {
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 850px) {
  .nav__doggleLinks li {
    margin-inline: auto;
    width: 0px;
    scale: 0;
    transition: scale 300ms ease-in-out;
  }
  .underline {
    scale: 0;
  }
}

.nav__links li {
  list-style: none;
  cursor: pointer;
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  transition: all 300ms ease-in-out;
  color: var(--fc-body);
  text-transform: capitalize;
}
.nav__links li:hover {
  color: var(--fc-heading);
}
.nav__icon {
  min-width: 25px;
  fill: black;
}
.profilePic {
  margin-left: 10px;
  width: 40px;
}
.underline {
  position: absolute;
  background-color: var(--clr-primary-500);
  top: 87px;
  height: 3px;
  border-radius: 30px;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 850px) {
  .logo {
    transform: translateX(60px);
  }
}
.nav__toggler {
  position: absolute;
  display: none;
  left: 1rem;
  top: 36px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 0px;
  opacity: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.nav__toggler > span {
  display: block;
  min-width: 30px;
  min-height: 3px;
  background-color: var(--clr-nuetral-600);
  border-radius: 25px;
  transition: all 300ms ease-in-out;
}
.nav__checkbox {
  position: absolute;
  width: 30px;
  height: 32px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.nav__checkbox:checked + .nav__toggler > span:nth-child(1) {
  rotate: 45deg;
  transform-origin: top left;
  position: relative;
  bottom: 2px;
}
.nav__checkbox:checked + .nav__toggler > span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left;
}
.nav__checkbox:checked + .nav__toggler > span:nth-child(3) {
  rotate: -45deg;
  transform-origin: bottom left;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 850px) {
  .nav__toggler {
    width: 30px;
    opacity: 1;
  }
}
.nav__smallDevice {
  display: none;
  position: absolute;
  top: 95px;
  z-index: 100;
  background-color: var(--clr-nuetral-200);
  width: 100%;
  left: 0;
  transition: all 800ms ease-in-out;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.nav__smallDevice li {
  list-style: none;
  cursor: pointer;
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  transition: all 300ms ease-in-out;
  color: var(--fc-body);
  text-transform: capitalize;
}
.nav__smallDevice li:hover {
  color: var(--fc-heading);
}
@media screen and (max-width: 850px) {
  .nav__smallDevice {
    display: flex;
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .nav__checkbox:checked ~ .nav__smallDevice {
    height: 240px;
    opacity: 1;
  }
}
