.product {
  display: flex;
  width: 85%;
  height: calc(100vh - 91px);
  margin-inline: auto;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}
.imageGallery {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagePreview {
  width: 60%;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}
.imagePreview > img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.thumbnail > img {
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .product {
    margin-top: 20px;
  }
  .imagePreview {
    width: 80%;
  }
  .thumbnail {
    width: 80%;
  }
}
.productData {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productData > h6 {
  margin-bottom: 7px;
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  color: var(--clr-primary-500);
}
.productTitle {
  color: var(--fc-heading);
  font-weight: var(--fw-700);
  font-size: var(--fs-700);
  width: 320px;
  margin-bottom: 15px;
}
.productDescription {
  font-size: var(--fs-300);
  width: 450px;
}
.price {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
}
.price__discounted {
  display: flex;
  align-items: center;
}
.price__discounted > span:first-child {
  font-weight: var(--fw-700);
  margin-right: 8px;
  color: var(--fc-heading);
  font-size: var(--fs-500);
}
.price__discounted > span:last-child {
  background-color: hsl(27, 100%, 87%);
  padding: 2px;
  padding-inline: 5px;
  border-radius: 5px;
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  color: var(--clr-primary-500);
}
.price__exact {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  text-decoration: line-through;
}
.AddToCart {
  display: flex;
  gap: 25px;
}
.AddToCart > div {
  background-color: var(--clr-nuetral-200);
  border-radius: 5px;
  color: var(--fc-heading);
  font-weight: var(--fw-500);
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.AddToCart > div > button {
  border: none;
  background: none;
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-primary-500);
  cursor: pointer;
}
.CartBtn {
  border: none;
  background-color: var(--clr-primary-500);
  border-radius: 5px;
  width: 230px;
  cursor: pointer;
  color: var(--clr-nuetral-100);
  box-shadow: hsl(27, 100%, 71%) 0px 5px 18px;
}
