.cart__left {
  flex: 0.6;
  background-color: #f6f6f8;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.cart__right {
  background-color: blue;
  flex: 0.3;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1440px) {
  .cart__left {
    flex: 0.67;
  }
  .cart__right {
    flex: 0.3;
  }
}

.cart__item {
  background-color: #ffffff;
  margin: 10px;
  height: 150px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .cart__item {
    height: 130px;
  }
  .cart__item > img {
    max-width: 105px !important;
    max-height: 105px !important;
  }
}

.cart__item > img {
  flex: 0.2;
  max-width: 140px;
  max-height: 140px;
  margin: auto;
  transition: all 500ms ease-in-out;
  margin-inline: 9px;
}
.wrapper__smDevice {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.item__description {
  flex: 0.3;
  display: inline-block;
  height: 90%;
  overflow: hidden;
}

.item__otherData {
  flex: 0.7;
  display: grid;
  grid-template-areas: "price counter total";
  grid-auto-columns: 1fr;
  transition: all 500ms ease-in-out;
}
.item__otherData > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price {
  grid-area: price;
}
.quantity {
  grid-area: counter;
}
.total {
  grid-area: total;
  display: flex;
  align-items: center;
}
.total > pre {
  color: black;
  font-size: var(--fs-500);
  position: relative;
  bottom: 1.1px;
  font-weight: var(--fw-500);
}
.item__title {
  display: none;
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  color: var(--fc-heading);
  flex: 1;
}

@media screen and (max-width: 700px) {
  .item__otherData {
    flex: 1;
    grid-template-areas: "price counter counter" "total total total";
  }
  .item__description {
    display: none;
  }
  .total {
    margin-top: 5px;
  }
  .item__title {
    display: inline-block;
  }
}
@media screen and (max-width: 490px) {
  .wrapper__smDevice {
    flex-direction: column;
  }
  .item__title {
    font-size: var(--fs-500);
    flex: 0.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
  }
  .total {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
